## .NET
**/bin/
**/obj/
**/Debug/
**/Release/
*.user
*.suo
*.sln.docstates
.vs/
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

## Code analysis
*.DotSettings.user

## VS Code
.vscode/

## Rider
.idea/
*.sln.iml

## Command code
.commandcode/
